In [1]:
import sys
import os
import yaml
sys.path.insert(1, '..')
os.chdir('..')

from data_formatter.base import *

/Users/renatsergazinov/anaconda3/envs/torch/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# load yaml config file
with open('./config/iglu.yaml', 'r') as f:
    config = yaml.safe_load(f)

In [3]:
# initialise formatter
formatter = DataFormatter(config)

Dropped segments: 7
Extracted segments: 25

In [4]:
formatter.data

,time,id,gl,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,2015-06-06 16:50:27,0.0,153.000000,2015.0,6.0,6.0,16.000000,50.0,0.0
1,2015-06-06 16:55:27,0.0,147.666667,2015.0,6.0,6.0,16.333333,35.0,0.0
2,2015-06-06 17:00:27,0.0,142.333333,2015.0,6.0,6.0,16.666667,20.0,0.0
3,2015-06-06 17:05:27,0.0,137.000000,2015.0,6.0,6.0,17.000000,5.0,0.0
4,2015-06-06 17:10:27,0.0,128.000000,2015.0,6.0,6.0,17.000000,10.0,0.0
...,...,...,...,...,...,...,...,...,...
14181,2015-03-11 07:39:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
14182,2015-03-11 07:44:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
14183,2015-03-11 07:49:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
14184,2015-03-11 07:54:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
14185,2015-03-11 07:59:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0

In [5]:
formatter._column_definition

[('id', <DataTypes.REAL_VALUED: 0>, <InputTypes.ID: 4>),
 ('time', <DataTypes.DATE: 2>, <InputTypes.TIME: 6>),
 ('gl', <DataTypes.REAL_VALUED: 0>, <InputTypes.TARGET: 0>),
 ('time_year', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_month', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_day', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_hour', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('time_minute', <DataTypes.REAL_VALUED: 0>, <InputTypes.KNOWN_INPUT: 2>),
 ('id_segment', <DataTypes.CATEGORICAL: 1>, <InputTypes.SID: 5>)]

In [6]:
formatter.train_data

,time,id,gl,time_year,time_month,time_day,time_hour,time_minute,id_segment
0,2015-06-06 16:50:27,0.0,153.000000,2015.0,6.0,6.0,16.000000,50.0,0.0
1,2015-06-06 16:55:27,0.0,147.666667,2015.0,6.0,6.0,16.333333,35.0,0.0
2,2015-06-06 17:00:27,0.0,142.333333,2015.0,6.0,6.0,16.666667,20.0,0.0
3,2015-06-06 17:05:27,0.0,137.000000,2015.0,6.0,6.0,17.000000,5.0,0.0
4,2015-06-06 17:10:27,0.0,128.000000,2015.0,6.0,6.0,17.000000,10.0,0.0
...,...,...,...,...,...,...,...,...,...
13989,2015-03-10 15:39:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
13990,2015-03-10 15:44:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
13991,2015-03-10 15:49:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
13992,2015-03-10 15:54:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0
13993,2015-03-10 15:59:35,4.0,230.000000,2015.0,3.0,9.0,11.000000,49.0,31.0